/* Icon Fonts */
@font-face{
    font-family:iconfont;
    src:url(../fonts/iconfont/iconfont.eot?#iefix) format("embedded-opentype"),
    url(../fonts/iconfont/iconfont.woff2) format("woff2"),
    url(../fonts/iconfont/iconfont.woff) format("woff")
  }
  .icon-arrow{line-height:1}
  .icon-arrow:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f101"}
  .icon-arrow_open{line-height:1}
  .icon-arrow_open:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f102"}
  .icon-arrow_text-link{line-height:1}
  .icon-arrow_text-link:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f103"}
  .icon-author-quote{line-height:1}
  .icon-author-quote:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f104"}
  .icon-check{line-height:1}
  .icon-check:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f105"}
  .icon-close-mobile{line-height:1}
  .icon-close-mobile:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f106"}
  .icon-close{line-height:1}
  .icon-close:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f107"}
  .icon-cta_arrow{line-height:1}
  .icon-cta_arrow:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f108"}
  .icon-cta_arrow_reverse{line-height:1}
  .icon-cta_arrow_reverse:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f109"}
  .icon-down-arrow{line-height:1}
  .icon-down-arrow:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10a"}
  .icon-down-arrow_hover{line-height:1}
  .icon-down-arrow_hover:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10b"}
  .icon-download{line-height:1}
  .icon-download:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10c"}
  .icon-hyundai-logo-desktop{line-height:1}
  .icon-hyundai-logo-desktop:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10d"}
  .icon-hyundai-logo-mobile{line-height:1}
  .icon-hyundai-logo-mobile:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10e"}
  .icon-icon_cookie{line-height:1}
  .icon-icon_cookie:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f10f"}
  .icon-livechat-dl{line-height:1}
  .icon-livechat-dl:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f110"}
  .icon-tooltip-close{line-height:1}
  .icon-tooltip-close:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f111"}
  .icon-tooltip{line-height:1}
  .icon-tooltip:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f112"}
  .icon-video-mute-mini{line-height:1}
  .icon-video-mute-mini:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f113"}
  .icon-video-pause-mini{line-height:1}
  .icon-video-pause-mini:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f114"}
  .icon-video-play-mini{line-height:1}
  .icon-video-play-mini:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f115"}
  .icon-video-unmute-mini{line-height:1}
  .icon-video-unmute-mini:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f116"}
  .icon-brochure{line-height:1}
  .icon-brochure:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f117"}
  .icon-configurator{line-height:1}
  .icon-configurator:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f118"}
  .icon-contact{line-height:1}
  .icon-contact:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f119"}
  .icon-find-a-dealer{line-height:1}
  .icon-find-a-dealer:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11a"}
  .icon-livechat{line-height:1}
  .icon-livechat:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11b"}
  .icon-my-hyundai{line-height:1}
  .icon-my-hyundai:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11c"}
  .icon-quote{line-height:1}
  .icon-quote:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11d"}
  .icon-renting{line-height:1}
  .icon-renting:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11e"}
  .icon-test-drive{line-height:1}
  .icon-test-drive:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f11f"}
  .icon-filter{line-height:1}
  .icon-filter:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f120"}
  .icon-locator{line-height:1}
  .icon-locator:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f121"}
  .icon-acceleration{line-height:1}
  .icon-acceleration:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f122"}
  .icon-pause{line-height:1}
  .icon-pause:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f123"}
  .icon-racetrack{line-height:1}
  .icon-racetrack:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f124"}
  .icon-start-engine{line-height:1}
  .icon-start-engine:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f125"}
  .icon-burger{line-height:1}
  .icon-burger:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f126"}
  .icon-login{line-height:1}
  .icon-login:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f127"}
  .icon-search{line-height:1}
  .icon-search:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f128"}
  .icon-footer_fb{line-height:1}
  .icon-footer_fb:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f129"}
  .icon-footer_gplus{line-height:1}
  .icon-footer_gplus:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12a"}
  .icon-footer_ig{line-height:1}
  .icon-footer_ig:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12b"}
  .icon-footer_linked{line-height:1}
  .icon-footer_linked:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12c"}
  .icon-footer_pint{line-height:1}
  .icon-footer_pint:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12d"}
  .icon-footer_tw{line-height:1}
  .icon-footer_tw:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12e"}
  .icon-footer_yt{line-height:1}
  .icon-footer_yt:before{font-family:iconfont!important;font-style:normal;font-weight:400!important;vertical-align:middle;content:"\f12f"}
  